@import './variables.scss';

@mixin themes($backgroundColor, $color ) {
    background-color:$backgroundColor;
    color: $color;

    svg {
        fill: $color;
    }
}

.theme_dark {
    @include themes($dark-color, $light-color);
    transition: background-color 0.5s ease;
}

.theme_light {
    @include themes($light-color, $dark-color);
    transition: background-color 0.5s ease;
}