@import "@/assets/style/variables.scss";

.accordion_wrapper {
  width: 100%;
  @include type-adaptiv('font-size', $font-size-md);

  .menu {
    list-style: none;
    padding: 10px;

    .menuItem.open .submenu {
      max-height: 300px;
    }

    .arrow {
      float: right;
      margin-right: 10px;
      color: inherit;
    }
  }

  @media (min-width: #{$breakpoint-sm}) {
    display: none;
  }
}