@import "@/assets/style/variables.scss";

.accordion_wrapper {
  width: 100%;
  @include type-adaptiv('font-size', $font-size-md);

  .menu {
    list-style: none;
    padding: 10px;

    .menuItem {
      cursor: pointer;
      font-weight: bold;
      border-bottom: 1px solid $light-color;
      margin-bottom: 16px;

      .submenu {
        list-style: none;
        font-weight: normal;
        max-height: 0;
        margin: 10px 0 10px 0;
        padding: 0px;
        overflow: hidden;
        transition: max-height 0.5s ease;

        li {
          padding-top: 10px;
          padding-bottom: 10px;
        }

        :hover {
          color: $success-color;
          transition: color 0.8s ease;
        }
      }
    }

    .menuItem.open .submenu {
      max-height: 300px;
    }

    .arrow {
      float: right;
      margin-right: 10px;
      color: inherit;

      img {
        height: 24px;
        width: 24px;
      }
    }
  }

  @media (min-width: #{$breakpoint-sm}) {
    display: none;
  }
}