@import "@/assets/style/variables.scss";

.wrapper {
    @include container;
    padding-bottom: 40px;

    
    .block_currency {
        display: flex;
        justify-content: space-between;
        color: inherit;
        margin-bottom: 32px;

        select, input {
            @include type-adaptiv('font-size', $font-size-xxs);
            @include type-adaptiv('width', 300px);
            height: 100%;
            padding: 16px;
            background-color: inherit;
            color: inherit;
            border-radius: 8px;
        }
    }

    @media (max-width: #{$breakpoint-sm}) {
        padding: 0 10px;

        .block_currency {
            flex-direction: column;
            align-items: center;
            margin-bottom: 32px;
            
            select, input {
                @include type-adaptiv('font-size', $font-size-xs);
                width: 300px;
            }
        }
    }
}
.dark{
    option {
        background-color: $dark-color;
        color: inherit;
    }
}
