@import "@/assets/style/variables.scss";

.section_wrapper{
    justify-content: center;
    margin-bottom: 60px;

    .section_name{
        @include type-adaptiv('font-size', $font-size-md);
        @include type-adaptiv('width', 520px);
        padding-bottom: 10px;
        margin-bottom: 40px;
    }

    .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &:last-child {
        margin-bottom: 0;
    }

    @media (max-width: #{$breakpoint-sm}) {
        margin-bottom: 10px;

        .section_name{
            width: 100%;
            margin-bottom: 20px;
        }
    }
}

