@import "../../../assets/style/variables.scss";

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  min-width: 60px;
  height: 34px;

  .switch_label {
    display: block;

    input {
      margin-left: 10px;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $dark-color;
      border: 1px solid $white-color;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 34px;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 27px;
      width: 27px;
      left: 2px;
      bottom: 2px;
      background-color: $dark-color;
      border: 1px solid $white-color;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }

    input:checked+.slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }
}