@import "../../../assets/style/variables.scss";

.banner {
    height: 400px;
    background: linear-gradient(45deg,
            $dark-color 0%,
            $green-color 50%,
            $green-color 40%,
            $dark-color 100%);
    margin: 0px 10px;

    .banner_info {
        display: flex;
        align-items: center;
        justify-content: center;
        @include type-adaptiv('width', 1000px);
        height: 100%;
        margin: 0 auto;
    }

    .logo {
        @include type-adaptiv('width', 300px);
    }

    .title {
        @include type-adaptiv('width', 700px);
        background: linear-gradient(to right, #00CE2C, #AEDF23, #A3DC00);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: end;
        margin-right: 50px;

        .title_modsen {
            @include type-adaptiv('font-size', 76px);
            font-weight: 600;
        }

        .title_tracker {
            @include type-adaptiv('font-size', 90px);
            font-weight: 600;
            margin: 12px 0;
        }
    }

    .subtitle {
        @include type-adaptiv('font-size', 25px);
        @include type-adaptiv('width', 400px);
        font-weight: 300;
        line-height: 47px;
        margin-left: auto;
        text-align: center;
        word-wrap: break-word;
    }
}