@import "@/assets/style/variables.scss";

.wrapper {
    @include type-adaptiv('font-size', $font-size-sm);
    @include container;
    padding-bottom: 50px;
    
    option {
        background-color: inherit;
        color: inherit;
    }

    .section_info{
        @include type-adaptiv('font-size', $font-size-xl);
        text-align: center;
        margin-bottom: 32px;
    }

    .mapboxgl-popup {
        max-width: 200px;
        background-color: $dark-color;
        color: $light-color
    }

    .mapboxgl-popup-content {
        text-align: center;
    }
}

