@import "@/assets/style/variables.scss";

.wrapper {
    @include container;
    padding-bottom: 50px;
    
    .section_info{
        text-align: center;
        @include type-adaptiv('font-size', $font-size-xl);
        margin-bottom: 32px;
    }
    .marker {
        background-color: black;
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }

    .mapboxgl-popup {
        max-width: 200px;
        background-color: $dark-color;
        color: $light-color
    }

    .mapboxgl-popup-content {
        text-align: center;
    }
}
.dark{
    background-color: $dark-grey-color;
    color: $light-color;
    @include type-adaptiv('font-size', $font-size-sm);
    option {
        background-color: $dark-grey-color;
        color: inherit;
    }
}